[user]
	name = John Skilbeck
	email = john.skilbeck@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	ui = always
[diff]
	tool = vimdiff
[push]
	default = simple
[alias]
	c = commit
	s = status
	p = push
	ck = checkout
	dl = difftool HEAD~ HEAD
	dt = difftool
	mt = mergetool
	tg = tag -n
	ws = rebase --whitespace=fix
