bin/aws
bin/okta_aws
bin/kindlegen
bash/aliases-work
bash/ssh-config.sh
bash/profilelocal-mbp.sh
bash/profilelocal-devices.sh
bash/muttrc
k8s/create-secrets
k8s/secrets/
k8s/send-and-apply-secret
aws/credentials
